@{
    ViewData["Title"] = "Home Page";
}

<h1>Team 11</h1>
<br/>

<img src="https://scontent-lax3-2.xx.fbcdn.net/v/t39.30808-6/s1080x2048/273683479_624986555392806_4697683599321732213_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=qwmTzMCM23QAX99Yw-c&tn=OzuEaF0nzxttAOQ9&_nc_ht=scontent-lax3-2.xx&oh=00_AT-JQZtdI_1PFRsNDL76wcJAyGzBGpBUQG9OVuVTpIr8xw&oe=6208CD8A" width="300" />
<h2>We are partying and love IS413</h2>








