@{
    ViewData["Title"] = "Add a Task";
}

@model project1.Models.ApplicationResponse

<form style="text-align: center" method="post">
    <fieldset>
        <legend>Task: </legend>

        

        <label asp-for="Task">Task: </label>
        <input asp-for="Task" type="text" /><br /><br />


        <label for="DueDate">Due Date: </label>
        <input id="DueDate" type="date"/><br /><br />


        <label for="Quadrant">Quadrant: </label><!--This field is required, need to double check with the models to see if that is required-->
        <input id="Quadrant" type="text"/><br /><br />

        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryTitle</option>
            }
        </select>

        <br /><br />


        <label for="Completed">Completed (True/False): </label>
        <input id="Completed" type="number"/><br /><br />

        <input id="btnSend" type="submit" value="Add Task"/>
    </fieldset>
    <div ></div>
</form>
