@{
    ViewData["Title"] = "Task List";
}
<link rel="stylesheet" type="text/css" href="/css/default.css" />


<h1>Welcome to the task list page</h1>


<div class="container">
    <div class="grid-1 callout primary" style="border-style: solid">
        Quadrant 1
    </div>

    <div class="grid-2 callout warning" style="border-style: solid">
        Quadrant 2
    </div>

    <div class="grid-3 callout alert" style="border-style: solid">
        Quadrant 3
    </div>

    <div class="grid-4 callout success" style="border-style: solid">
        Quadrant 4
    </div>
</div>



